/*--------------------------------------------------------------
# Media Queries - Responsive
--------------------------------------------------------------*/
@media(max-width:1335px){
    .sectionClases{
        min-height: 36vh ;
    }
}
@media(max-width:1300px){
    .sectionClases{
        flex-wrap: wrap;
    }
}
@media(max-width:1060px){
    .sectionClasesExplicadas{
        .item{
            h2{
                font-size: map-get($tamaño-font, main-clases-card-h2-lg);
            }
            p{
                font-size: map-get($tamaño-font, main-clases-card-p-lg);
            }
        }
    }
    .sectionNosotrosTexto{
        h2{
            font-size: map-get($tamaño-font, main-nosotros-frase-h2-lg);
        }
        p{
            font-size: map-get($tamaño-font, main-nosotros-frase-p-lg);
        }
    }
}
@media(max-width:1024px){
    .sectionClases{
        min-height: 36vh ; /* 6 - 55 - 36 */
    }
    .sectionMedia{
        grid-template-columns: 40% 40%;
    }
    .sectionNosotros{
        min-height: 94vh;
    }
}
@media(max-width:991px){
    header{
        .section-logo{
            padding-left: 1rem;
            justify-content: left;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 20;
            background-color: $cero-oppacity-header;
        }
        .barra-navegacion{
            padding: 0;
            .contenedor-header{
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                justify-content: right;
            }
        }
    }
    .sectionClasesExplicadas{
        .item{
            h2{
                font-size: map-get($tamaño-font, main-clases-card-h2-md);
            }
        }
        .item2{
            .fotos-clases{
                img{
                    @include container-size($height: 100%, $width: 100%);
                }
            }
        }
    }
}
@media(max-width:903px){
    .sectionError{
        @include flex($direction: column);
        article{
            width: 100%;
            &:nth-child(1){
                display: none;
            }
        }
    }
    footer{
        .footer-top{
            flex-direction: column;
        }
    }
    .sectionClases{
        article{
            height: 28rem;
            .texto-card{
                min-height: 9.375rem;
            }
        }
    }
}
@media(max-width:770px){
    .sectionClasesExplicadas{
        .item{
            h2{
                font-size: map-get($tamaño-font, main-clases-card-h2-sm);
            }
        }
    }
    .sectionNosotrosTexto{
        h2{
            font-size: map-get($tamaño-font, main-nosotros-frase-h2-md);
        }
        p{
            font-size: map-get($tamaño-font, main-nosotros-frase-p-md);
        }
    }
    .sectionMedia{
        .foto-container{
            p{
                font-size: map-get($tamaño-font, main-media-p-lg);
            }
        }
    }
}
@media(max-width:700px){
    .sectionClasesExplicadas{
        grid-template-columns: 85%;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        ;
        row-gap: 2rem;
        .item{
            h2{
                font-size: map-get($tamaño-font, main-clases-card-h2-md);
            }
        }
        .item1{
            min-height: 40vh;
        }
    }
    .sectionMedia{
        grid-template-columns: 85%;
        grid-template-rows: repeat(6, 42vh);
        grid-template-areas: 
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6"
        ;
        row-gap: 2rem;
        .foto-container{
            p{
                font-size: map-get($tamaño-font, main-media-p);
            }
        }
    }
    .sectionNosotros{
        flex-direction: column;
    }
    .sectionContacto{
        .sectionFormularioContacto{
            form{
                width: 100%;
            }
        }
    }
}
@media(max-width:425px){
    .sectionNosotros{
        article{
            min-height: 21.875rem;
            width: 15.9506rem;
            div{
                height: 13.67rem;
                p{
                    font-size: .875rem;
                }
                ul{
                    font-size: .75rem;
                }
            }
        }
    }
    .sectionClases{
        article{
            .boton-primario{
                margin-top: 1rem;
            }
        }
    }
}