$tamaño-font:(
    header-li: 1.25rem,
    main-index-card-h2: 2.5rem,
    main-index-card-p: 1.25rem,
    // main-index-card-button:,
    // main-clases-card-h1:,
    main-clases-card-h2: 2.5rem,
    main-clases-card-h2-lg: 2.25rem,
    main-clases-card-h2-md: 1.75rem,
    main-clases-card-h2-sm: 1.5rem,
    main-clases-card-p: 1.25rem,
    main-clases-card-p-lg: 1rem,
    main-media-p: 1.25rem,
    main-media-p-lg: 1rem,
    main-nosotros-frase-h2: 2.5rem,
    main-nosotros-frase-h2-lg: 2.25rem,
    main-nosotros-frase-h2-md: 2rem,
    main-nosotros-frase-p: 1.25rem,
    main-nosotros-frase-p-lg: 1rem,
    main-nosotros-frase-p-md: .875rem,
    main-nosotros-card-h2: 1.875rem,
    main-nosotros-card-p: 1.5rem,
    main-nosotros-card-li: .875rem,
    main-contacto-p: 1.25rem,
    main-contacto-form: 1rem,
    main-error-card-h2: 3.5rem,
    main-error-card-p: 1.25rem,
    footer-h2: 1.25rem,
    footer-p: 1rem,
    footer-icon: 2rem,
    footer-copyright: .75rem
);