@mixin flex($direction: null, $wrap: null, $justify: null, $align: null, $gap: null) {
    display: flex;
    @if $direction != null {
        flex-direction: $direction;
    }
    @if $wrap != null {
        flex-wrap: $wrap;
    }
    @if $justify != null {
        justify-content: $justify;
    }
    @if $align != null {
        align-items: $align;
    }
    @if $gap != null {
        gap: $gap;
    }
}

@mixin fonts($family: null, $align: null, $size: null, $weight: null) {
    @if $family != null {
        font-family: $family;
    }
    @if $align != null {
        text-align: $align;
    }
    @if $size != null {
        font-size: $size;
    }
    @if $weight != null {
        font-weight: $weight;
    }
}

@mixin container-size($padding: null, $padding-top: null, $padding-right: null, $padding-bottom: null, $padding-left: null, $margin: null, $margin-top: null, $margin-right: null, $margin-bottom: null, $margin-left: null, $height: null, $width: null, $min-height: null, $min-width: null) {
    @if $padding != null {
        padding: $padding;
    }
    @if $padding-top != null {
        padding-top: $padding-top;
    }
    @if $padding-right != null {
        padding-right: $padding-right;
    }
    @if $padding-bottom != null {
        padding-bottom: $padding-bottom;
    }
    @if $padding-left != null {
        padding-left: $padding-left;
    }
    @if $margin != null {
        margin: $margin;
    }
    @if $margin-top != null {
        margin-top: $margin-top;
    }
    @if $margin-right != null {
        margin-right: $margin-right;
    }
    @if $margin-bottom != null {
        margin-bottom: $margin-bottom;
    }
    @if $margin-left != null {
        margin-left: $margin-left;
    }
    @if $height != null {
        height: $height;
    }
    @if $width != null {
        width: $width;
    }
    @if $min-height != null {
        min-height: $min-height;
    }
    @if $min-width != null {
        min-width: $min-width;
    }
}