$violeta-fondo-main: #DFCCFB;
$violeta-fondo-card: #BEADFA;
$violeta-fondo-card-secundario: #D0BFFF;
$violeta-fondo-card-tercero: #ac8eff;
$violeta-fondo-card-hover:#beadfa95;
$violeta-boton: #c5b2ff;
$violeta-boton-borde: #7d4eff40;
$violeta-boton-hover: #ac8eff93;
$violeta-media-fuente: #5c4086;
$boton-borde: rgba(0, 0, 0, 0.5);
$naranja-fondo: #FFF3DA;
$naranja-fondo-header: #fff3dace;
$cero-oppacity-header: #fff3da00;
$negro-boton-fuente: rgb(26, 26, 26);
$negro: black;
$gris: grey;