---
import Layout from "@/layouts/Layout.astro";
import CarouselComponent from "@/components/CarouselComponent.astro";
import ClassesCards from "@/components/ClassesCards.astro";

---

<Layout
  title="La Casita de Yoga"
  description="Somos un espacio dedicado a la práctica y enseñanza del yoga clásico de India, ubicado en la ciudad de Lorem, Ipsum"
  canonical=""
  lang="es"
>
  <main>
    <CarouselComponent />
    <ClassesCards />
  </main>
</Layout>
