---
import Layout from "@/layouts/Layout.astro";
import AboutUsCards from "@/components/AboutUsOverview.astro";
import AboutUsText from "@/components/AboutUsText.astro";
---

<Layout
  title="La Casita de Yoga"
  description="Somos un espacio dedicado a la práctica y enseñanza del yoga clásico de India, ubicado en la ciudad de Lorem, Ipsum."
  canonical=""
  lang="es"
>
  <main>
    <AboutUsText />
    <AboutUsCards />
  </main>
</Layout>
