/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer{
    @include container-size($padding: 1.25rem, $width: 100%);
    background-color: $naranja-fondo;
    .footer-top{
        @include flex($direction: row, $wrap: wrap, $justify: space-evenly, $align: center);
        font-family: 'Poppins', sans-serif;
        div{
            @include container-size($padding: 1rem, $margin-top: 2rem, $height: 10rem, $width: 20rem);
            text-align: left;
            h2{
                margin: 0;
                @include fonts($size: map-get($tamaño-font, footer-h2), $weight: bold);
                line-height: 1.5;
                color: $negro;
            }
            p{
                font-size: map-get($tamaño-font, footer-p);
            }
        }
    }
    .footer-center{
        @include flex($justify: center, $align: center);
        margin-bottom: 0.5rem;
        .icon{
            text-decoration: none;
            padding: 0.5rem;
            i{
                color: $negro;
                font-style: normal;
                font-size: map-get($tamaño-font, footer-icon);
            }
        }
    }
    .footer-bottom{
        text-align: center;
        font-size: map-get($tamaño-font, footer-copyright);
    }
}