/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header{
    width: 100%;
    top: 0px;
    position: sticky;
    z-index: 20;
    .section-logo{
        padding-top: 0.3rem;
        display: flex;
        justify-content: center;
        background-color: $naranja-fondo-header; 
        .logo{
            @include container-size($height: 4.5rem, $width: 4.5rem);
            a{
                img{
                    @include container-size($height: 100%, $width: 100%);
                    object-fit: cover;
                }
            }
        }
    }
    .barra-navegacion{
        padding: 0;
        .contenedor-header{
            @include container-size($padding-top: 0.5rem, $padding-bottom: 0.5rem);
            @include flex($direction: row, $justify: center, $align: center);
            background-color: $naranja-fondo-header;
            .lista-links{
                flex-grow: 0;
                ul{
                    justify-content: center;
                    gap: 2.5rem;
                    .link{
                        @include fonts($family: ('Poppins', sans-serif), $size: map-get($tamaño-font, header-li), $align: center, $weight: lighter);
                        text-decoration: none;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                    .link-activo{
                        font-weight: bold;
                        color: $negro
                    }
                }
            }
        }
    }
}