/*--------------------------------------------------------------
# Main - Index
--------------------------------------------------------------*/
.carousel-de-fotos{
    @include container-size($height: 40vh, $width: 100%);    
    overflow: hidden;
    border-bottom: 16px solid $naranja-fondo;
    .item-de-carousel{
        @include container-size($height: 100%);
        .imgInicial{
            @extend .item-de-carousel;
            object-fit: cover;
            object-position: center;
        }
    }
}
.sectionClases{
    background-image: url('../assets/img/pattern.jpg');
    background-repeat: repeat;
    @include container-size($padding: 1.25rem, $width: 100%, $min-height: 51vh);
    @include flex($direction: row, $wrap: nowrap, $justify: space-evenly, $align: center, $gap: .625rem);
    article{
        @include container-size($padding: 1rem, $margin: 0.5rem, $height: 24rem, $width: 26rem);
        background-image: linear-gradient( to top, $violeta-fondo-main, $violeta-fondo-card-tercero );
        border-radius: 10px;
        text-align: left;
        box-shadow: 2px 2px 5px grey;
        overflow: hidden;
        transition: width 0.5s;
        &:hover{
            width: 30rem;
        }
        img{
            @include container-size($height: 10rem, $width: 100%);
            object-fit: cover;
            border-radius: 10px;
        }
        h2{
            margin: 0;
            @include fonts($family: ('Roboto', sans-serif), $size: map-get($tamaño-font, main-index-card-h2), $weight: bold);
            line-height: 1.5;
            color: $negro;
        }
        .texto-card{
            @include container-size($width: 100%, $min-height: 6rem);
            p{
                font-size: map-get($tamaño-font, main-index-card-p);
                margin-bottom: 0;
            }
        }
        @import "./components/bootstrap-btn";
    }
}