/*--------------------------------------------------------------
# Main - Nosotros
--------------------------------------------------------------*/
.sectionNosotrosTexto{
    @include container-size($padding-top: 1.5rem, $width: 100%, $min-height: 18vh);
    border-bottom: 16px solid $naranja-fondo;
    background-image: linear-gradient( to bottom, $violeta-fondo-main, $violeta-fondo-card );
    h2{
        @include fonts($family: 'Courgette', $align: center, $size: map-get($tamaño-font, main-nosotros-frase-h2), $weight: lighter);
    }
    p{
        padding: 1rem;
        @include fonts($align: center, $size: map-get($tamaño-font, main-nosotros-frase-p), $weight: lighter);
    }
}
.sectionNosotros{
    background-image: url('../assets/img/pattern.jpg');
    background-repeat: repeat;
    @include container-size($padding: 1.25rem, $width: 100%, $min-height: 61vh);
    @include flex($direction: row, $wrap: wrap, $justify: space-evenly, $align: center);
    article{
        @include container-size($margin:.625rem, $width:21.875rem, $min-height:30rem);
        background-image: linear-gradient( to bottom, $violeta-fondo-main, $violeta-fondo-card-tercero );
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 5px $gris;
        text-align: center;
        transition: width 0.5s;
        &:hover{
            width:28rem
        }
        div{
            @include container-size($height: 18.75rem, $width: 100%);
            object-fit: contain;
            img{
                @include container-size($height: 100%, $width: 100%);
                object-fit: cover;
            }
        }
        h2{
            @include container-size($padding-top: 0.3rem, $margin: 0);
            @include fonts($family: ('Roboto', sans-serif), $size: map-get($tamaño-font, main-nosotros-card-h2), $weight: bold);
            color: $negro;
        }
        p{
            @include container-size($padding-bottom: 0.4rem, $margin: 0);
            font-size: map-get($tamaño-font, main-nosotros-card-p);
        }
        ul{
            padding-left: 0rem;
            list-style-type: none;
            list-style-position: inside;
            li{
                font-size: map-get($tamaño-font, main-nosotros-card-li);
            }
        }
    }
}