/*--------------------------------------------------------------
# Main - Media
--------------------------------------------------------------*/
.sectionMedia{
    @include container-size($padding-top: 2rem, $padding-bottom: 2rem, $width: 100%, $min-height: 92vh);
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 42vh 42vh 42vh;
    grid-template-areas: 
    "foto1 foto2"
    "foto3 foto4"
    "foto5 foto6"
    ;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-content: start;
    .foto-container{
        @include container-size($height: 100%, $width: 100%);
        justify-self: center;
        overflow: hidden;
        img{
            @include container-size($height: 85%, $width: 100%);
            box-shadow: 2px 2px 5px $gris;
            border-radius: 10px;
            object-fit: cover;
        }
        p{
            @include fonts($family: 'Courgette', $align: center, $size: map-get($tamaño-font, main-media-p), $weight: lighter);
            color: $violeta-media-fuente;
        }
    }
    .foto1{
        grid-area: foto1;
    }
    .foto2{
        grid-area: foto2;
    }
    .foto3{
        grid-area: foto3;
    }
    .foto4{
        grid-area: foto4;
        img{
            object-position: top;
        }
    }
    .foto5{
        grid-area: foto5;
    }
    .foto6{
        grid-area: foto6;
    }
}