/*--------------------------------------------------------------
# Main - Contacto
--------------------------------------------------------------*/
.responsive-map{
    overflow:hidden;
    height: 20vh;
    iframe{
        width: 100%;
    }
}
.sectionContacto{
    @include container-size($padding: 1.25rem, $min-height: 80vh);
    #contact_icons{
        @include container-size($padding-left: 0.3rem, $padding-right: 0.3rem);
    }
    #p-contact{
        margin: 0;
        @include fonts($size: map-get($tamaño-font, main-contacto-p), $weight: 300);
    }
    .sectionFormularioContacto{
        display: flex;
        justify-content: center;
        form{
            width: 70%;
            font-size: map-get($tamaño-font, main-contacto-form);
            @import "./components/bootstrap-btn";
            input{
                width: 100%;
            }
            textarea{
                @extend input
            }
        }
    }
}

