<section 
  class={`
  py-4 px-2 border-b-8 border-[#fff3da] bg-gradient-to-b from-violet-400 to-violet-100
  md:px-20
  2xl:px-44
  `}
>
  <h2 class="prose-lg md:prose-xl 2xl:prose-2xl font-courgette text-center text-gray-800">"Dar no nos empobrece, ni retener nos enriquece." - B.K.S Iyengar</h2>
  <p class="text-xs md:prose-sm 2xl:prose-sm text-center text-gray-800">Ubicados en una de las calles más importantes de la ciudad, abrimos nuestra puertas en el año 2022, post-pandemia.
  <strong>Somos un espacio dedicado a la práctica y enseñanza del yoga clásico de India.</strong>
  Nuestra sala es amplia y cuenta con las instalaciones, soportes y materiales adecuados para adaptar la práctica a las diversas dificultades que pueda tener cada alumno. 
  <strong>En nuestro centro cuidamos la secuencia de práctica, las correcciones personales y la evolución de cada estudiante</strong> ofreciéndole diferentes niveles de práctica.
  Ponemos enfasis en la práctica de <strong>asanas (posturas)</strong> y <strong>Pranayama (respiración yoguica)</strong>.</p>
</section>