<section class="bg-back-texture bg-repeat">
  <section class="px-4 pt-6 pb-8 flex flex-col items-center">
    <div class="flex flex-col gap-4 p-3">
      <article class="flex justify-center items-end gap-2">
        <i class="material-icons">location_on</i>
        <p>Lorem. Filler 533, Lorem, Lorem Fill.</p>
      </article>

      <article class="flex justify-center items-end gap-2">
          <i class="material-icons" id="contact_icons">email</i>
          <p id="p-contact">loremfiller@lorem.com</p>
      </article>

      <article class="flex justify-center items-end gap-2">
          <i class="material-icons" id="contact_icons">call</i>
          <p id="p-contact">+12 3 4567 891 011</p>
      </article>
    </div>

    <div class="w-full border-violet-300 border bg-gradient-to-b from-violet-200 to-white rounded-lg shadow-md shadow-black/30 lg:w-8/12 xl:w-1/2 2xl:w-1/3">
      <form class="flex flex-col gap-4 text-gray-800">
          <div class="px-3 pt-3 flex flex-col items-center gap-1">
              <label for="InputText" class="form-label">Nombre</label>
              <input type="text" class="w-full rounded-lg">
          </div>
          <div class="px-3 flex flex-col items-center gap-1">
              <label for="InputEmail" class="form-label">Email</label>
              <input type="email" class="w-full rounded-lg" id="InputEmail">
          </div>
          <div class="px-3 flex flex-col items-center gap-1">
              <label for="InputText2" class="form-label">Asunto</label>
              <input type="text" class="w-full rounded-lg" id="InputText2">
          </div>
          <div class="px-3 flex flex-col items-center gap-1">
              <label for="TextArea" class="form-label">Mensaje</label>
              <textarea class="w-full rounded-lg" id="TextArea" rows="4"></textarea>
          </div>
          <div class="flex w-full justify-center py-3 bg-violet-100">
            <button type="submit" class="font-[500] text-[#f7f7f7] bg-[#ac8eff] border-[#7d4eff40] border-[1px] rounded-full w-full text-center py-2 mx-2">Enviar</button>
          </div>
      </form>
    </div>

  </section>
</section>