<footer class="bg-[#FFF3DA] px-4 py-8 flex flex-col gap-10 lg:px-16 xl:px-9 2xl:px-44">
  <section class="flex flex-col gap-8 text-left text-gray-800 lg:flex-row lg:gap-4">
    <div class="lg:w-full">
      <h2 class="font-semibold text-lg">NOSOTROS</h2>
      <p class="prose-sm">
        Somos un espacio dedicado a la práctica y enseñanza del yoga clásico de
        India, ubicado en la ciudad de Lorem, Ipsum.
      </p>
    </div>
    <div class="lg:w-full">
      <h2 class="font-semibold text-lg">CONTACTANOS</h2>
      <p class="prose-sm">Lorem. Filler 533, Lorem, Lorem Fill.</p>
      <p class="prose-sm">Email: loremfiller@lorem.com</p>
      <p class="prose-sm">Telefono: +12 3 4567 891 011</p>
    </div>
    <div class="lg:w-full">
      <h2 class="font-semibold text-lg">NUESTRO NEWSLETTER</h2>
      <p class="prose-sm">
        Si querés suscribirte a nuestro newsletter mensual de novedades sobre
        nuestro estudio, dejanos tu mail y nos pondremos en contacto.
      </p>
    </div>
  </section>
  <section class="flex justify-center items-center gap-4 text-gray-800">
    <a href="" class=""><i class="text-4xl fab fa-instagram"></i></a>
    <a href="" class=""><i class="text-4xl fab fa-facebook"></i></a>
  </section>

  <section class="text-gray-800">
    <p class="text-center text-xs">
      © 2024 Hernan Agustin Otero, todos los derechos reservados.
    </p>
  </section>
</footer>
