---
import { Image } from "astro:assets";
import type { ImageMetadata } from "node_modules/astro/dist/assets/types";

interface Props {
  logoSrc: ImageMetadata;
  logoAlt: string;
}

const { logoSrc, logoAlt } = Astro.props;
---

<a id="scrollToHomeBtn" href="/" class="">
  <Image src={logoSrc} alt={logoAlt} width={56} height={56} quality={"max"} />
</a>
